body, html {
    margin: 0;
    padding: 0;
    /* width: 100%; */
    /* height: 100%; */
    
    /* overflow-x: hidden; Prevent horizontal scrolling */
}

header {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    background-color: white;
    padding: 10px 0;
    z-index: 10; /* Ensure the header stays on top */
}

.main-content {
    width: 100%;
    /* padding: 20px 0; */
    /* box-sizing: border-box; */
    margin-top: 30px; /*Leave space for the fixed header*/
    display: flex;
    /* justify-content: space-between; */
}

/* .columns {
    /* display: flex; */
    /* flex-wrap: nowrap; */
    /* width: 100%; */
    /* max-width: 1200px; Adjust max-width to your preference */
    /* justify-content: space-between; */
    /* gap: 20px; */
/* }  */

.column {
    flex: 50%;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.row {
    display: flex;
    padding: 50px;
}
.centered-title {
    font-size: 28px;
    margin: 0;
    text-align: center;
    position: absolute;
    top: 10px;
    width: 100%;
    z-index: 5;
}


.chart-container { 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.chart-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}