body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    background-color: white;
    /* padding: 0; */
    z-index: 10; /* it's above other content*/
    border-bottom: 1px solid #ccc; /* To add a separation line */

}

.columns {
    display: flex;
    width: 100%;
    margin-top: 20px; 
    justify-content: space-around;
    align-items: flex-start;
    gap: 60px; 
}

.column {
    flex: 1; /* Each column takes up equal space */
    padding: 10px;
    box-sizing: border-box; 
    max-width: 50%;
}


.centered-title {
    font-size: 30px;
    font-weight: bold;
    font: helvetica;
    margin: 20px 0; 
    position: absolute;
    top: 0; /* Position it at the top of the page */
    left: 50%; /* Start positioning from the center horizontally */
    transform: translateX(-50%); /* Shift it left by 50% of its width to truly center */
    text-align: center;

}

.graph-container {
    margin-top: 300px; /* Add margin to create space between the title and graph */
    width: 100%; /* Ensure the graph takes full width below the title */
    height: auto;
}